<%- include("partials/_header") %>

<div class="container text-center">
<div class="row menu_Cards">
<div class="card" style="width: 18rem;">
    <img src="https://i0.wp.com/www.ignacioonline.com.ar/wp-content/uploads/2018/11/Licencia-laboral-paga-donaci%C3%B3n-sangre.jpg?resize=625%2C559&ssl=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DONANTES</h5>
      <p class="card-text">Revise quienes son los donantes ingresados</p>
      <a href="/donantes" class="btn btn-primary">Ver Donantes</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.fundaciongrisi.com/wp-content/uploads/2021/06/Portada-Donacio%CC%81n.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SOLICITUDES</h5>
      <p class="card-text">Realiza las solicitudes de sangre</p>
      <a href="/solicitudes" class="btn btn-primary">Hacer una Solicitud</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/id/895602926/es/vector/vector-de-la-transfusi%C3%B3n-de-sangre.jpg?s=612x612&w=0&k=20&c=v1hKHs9EVGIGpTpiRBfR8IAf_EJMulfE6xc3EC8Jkm4=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">EXTRACCIÓN</h5>
      <p class="card-text">Revise las extracciones hechas</p>
      <a href="/extracciones" class="btn btn-primary">Ver extracciones</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://jayfonseca.com/wp-content/uploads/2020/10/doctor-working-with-donor-blood-22WK5HG-1024x683.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inventario</h5>
      <p class="card-text">Revisar cual es el inventario de sangre</p>
      <a href="/inventario" class="btn btn-primary">Ver Inventario</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://previews.123rf.com/images/angellodeco/angellodeco1511/angellodeco151100013/47683681-herramientas-de-trabajo-del-laboratorio-de-an%C3%A1lisis-y-la-agenda-de-citas-tubos-de-muestras-de-sangre.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Programación de Citas</h5>
      <p class="card-text">Programa la cita de un paciente</p>
      <a href="/citas" class="btn btn-primary">Programar Cita</a>
    </div>
  </div>
</div>
</div>

<%- include("partials/_footer") %>